---
title: startpage
layout: layouts/default.liquid
---
<header>
    <div class="section bl">
        <a class="blog-link" href="https://odis-berlin.de/ressourcen/">Zurück zur ODIS-Webseite</a>
      </div>
    <div class="section pb-6 pt-6" id="intro">
        <p class="headline-05">Ein Dienst der Open Data Informationsstelle (ODIS)
        </p>
        <p style="background-color: red; padding: 3rem; color: white;line-height: 1.4">
            Achtung! Diese Webseite wird seit 2022 nicht mehr gepflegt. 
            Die unten stehenden Daten sind eventuell bereits in neuer Version vorhanden. Aktuelle Daten zum Direktdownload (GeoJSON) finden sie im neuen Projekt 
            <a href="https://geo-explorer.netlify.app" style="color:white; font-weight:bold">Geoexplorer</a>. Die stets aktuellsten Geodatendienste (WFS und WMS)
             finden sie im <a href="http://fbinter.stadt-berlin.de/fb/index.jsp" style="color:white;">Geoportal</a> des Landes Berlin. 
        </p>
        <div id="teaser" style="padding-top:1rem">
        <h1 id="title"><img src="/assets/images/logo@2x.png" style="padding-top:26px" alt="Daten">Daten</h1>
    <p class="headline-02b">
        Basisdatensätze von Berlin
      </p></div>
        <p class="headline-04"> In diesem Datenportal stellt ODIS aufbereitete und besonders relevante Geobasisdatensätze zur Verfügung. Der Fokus liegt dabei auf Geodatensätzen, die aus unserer Sicht häufig gefragt sind und für viele Datenanalysen und Visualisierungen für den Raum Berlin genutzt werden. Diese werden hier in den gängigen Formaten bereitgestellt, die für die meisten Datennutzer*innen besonders leicht nutzbar und weiter zu verarbeiten sind. 
            Diese Datensammlung wird regelmäßig gepflegt und aktualisiert. Unter Umständen bestehen aber Abweichungen zur originären Quelle, dem <a href="http://fbinter.stadt-berlin.de/fb/index.jsp">FIS Broker</a>, der stets die aktuellsten verfügbaren Daten führt.
            Weitere offene Daten finden Sie auf <a href="https://daten.berlin.de/">daten.berlin.de</a>, dem zentralen Datenportal des Landes Berlin.
    </div>
</header>
<main>
    <div class="grey-bg pt-1">
  <div class="container_list">
      <div id="list">
          <ul>
              {% for dataset in datasets %}
              {% if dataset.lang == startpage.locale %} 
              <li>
                <a href="{{ site.baseUrl }}/{{ startpage.locale }}/dataset/{{ dataset.folder }}">
                    {% if dataset.hasThumb %}
                    <img src="{{ site.s3BaseUrl }}{{ dataset.folder }}thumb.jpg" alt="{{ dataset.meta.meta[startpage.locale].title }}" />
                    {% else %}
                    <img src="{{ site.baseUrl }}/assets/images/file@2x.png" alt="{{ dataset.meta.meta[startpage.locale].title }}" />
                    {% endif %}
                    <span class="data-title">{{ dataset.meta.meta[startpage.locale].title }}</span>
                    <span class="col1">
                        <span class="key">{% if startpage.locale == "en" %}Formats{% else %}Formate{% endif %}</span>:<span class="value">
                            {% for format in dataset.formats %}
                            {% if site.formatter[format.format] %}{{ site.formatter[format.format] }}{% else %}{{ format.format }}{% endif %}{% if forloop.last == false %},{% endif %}{% endfor %}
                        </span><br /><br />
                        {% if dataset.meta.meta.geolevel.length > 0 %}
                        <span class="key">{% if startpage.locale == "en" %}Resolution{% else %}Auflösung{% endif %}</span>: <span class="value">{% if site.formatter.geo[dataset.lang][dataset.meta.meta.geolevel] %}{{ site.formatter.geo[dataset.lang][dataset.meta.meta.geolevel] }}{% else %}{{ dataset.meta.meta.geolevel }}{% endif %}</span>
                        {% endif %}
                    </span>
                    <span class="col2">
                        <span class="key">{% if startpage.locale == "en" %}Keywords{% else %}Stichworte{% endif %}</span>: <span class="value">{{ dataset.meta.meta[startpage.locale].keywords | join: "," }}</span><br /><br />
                        {% if dataset.meta.meta.temporal.size > 2 %}
                        <span class="key">{% if startpage.locale == "en" %}Years{% else %}Jahre{% endif %}</span>: <span class="value">{{ dataset.meta.meta.temporal[0] }}-{{ dataset.meta.meta.temporal[1] }}</span>
                        {% endif %}
                    </span>
                    <hr class="clear" />
                </a>
              </li>
              {% endif %}
              {% endfor %}
          </ul>
      </div>
    </div>
      <hr class="odclear-half clear" />
  </div>
</main>